/* General App Styles */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f9;
}

/* Loading Indicator */
.loading {
  font-size: 24px;
  color: #777;
  text-align: center;
  animation: fadeIn 1s ease-in-out infinite alternate;
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Module Route Styles */
.module-route {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d4f8d4; /* Vibrant green background */
  color: #056608; /* Dark green text */
  font-size: 3rem; /* Extra large font size */
  font-weight: bold;
  text-align: center;
}

/* Not Found Page */
.not-found {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe5e5; /* Gentle red background */
  color: #b30000; /* Gentle red text */
  font-size: 3rem; /* Extra large font size */
  font-weight: bold;
  text-align: center;
  border: 2px dashed #b30000;
}
